In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read and load csv file
file = 'Resources/heros_of_pymoli.csv'

pymoli_df= pd.read_csv(file)
pymoli_df.set_index("SN",)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#players list



players = pymoli_df[["SN","Gender","Age","Item Name","Price"]].sort_values(by="SN")
#players.set_index("SN",inplace = True)

players

,SN,Gender,Age,Item Name,Price
467,Adairialis76,Male,16,Twilight's Carver,2.28
142,Adastirin33,Female,35,Woeful Adamantite Claymore,4.48
388,Aeda94,Male,17,"Blazeguard, Reach of Eternity",4.91
28,Aela59,Male,21,"Stormbringer, Dark Blade of Ending Misery",4.32
630,Aelaria33,Male,23,Scalpel,1.79
766,Aelastirin39,Male,23,"Freak's Bite, Favor of Holy Might",4.14
218,Aelastirin39,Male,23,Haunted Bronzed Bludgeon,3.15
705,Aelidru27,Male,22,Dragon's Greatsword,1.09
52,Aelin32,Male,20,Wolf,3.54
87,Aelin32,Male,20,Severance,3.40
584,Aelin32,Male,20,Spectral Diamond Doomblade,2.04
43,Aelly27,Male,24,Renewed Skeletal Katana,4.18
428,Aelly27,Male,24,Possessed Core,2.61
286,Aellynun67,Male,25,Mercenary Sabre,3.74
746,Aellyria80,Male,23,"Oathbreaker, Spellblade of Trials",3.08
203,Aelollo59,Male,33,Phantomlight,2.49
431,Aelollo59,Male,33,Blade of the Grave,3.14
183,Aenarap34,Male,21,Soul Infused Crystal,2.96
263,Aeral43,Male,24,"Glimmer, Ender of the Moon",4.40
674,Aeral68,Male,43,"Piety, Guardian of Riddles",4.00
167,Aeral97,Male,23,"Spada, Etcher of Hatred",4.80
32,Aeralria27,Male,10,Faith's Scimitar,4.09
583,Aeralstical35,Male,20,"The Oculus, Token of Lost Worlds",2.96
303,Aeri84,Male,24,Demise,1.61
381,Aerillorin70,Male,16,Lifebender,3.33
274,Aerithllora36,Female,29,Nirvana,4.90
578,Aerithllora36,Female,29,Mercenary Sabre,3.74
324,Aerithnucal56,Male,15,Feral Katana,4.40
517,Aerithnuphos61,Male,39,"Blazeguard, Reach of Eternity",4.91
40,Aerithriaphos45,Male,20,Frenzied Scimitar,1.56
...,...,...,...,...,...
421,Yadaphos40,Male,30,Unholy Wand,1.12
62,Yadaphos40,Male,30,"Oathbreaker, Last Hope of the Breaking Storm",4.23
5,Yalae81,Male,22,Dreamkiss,3.61
447,Yalae81,Male,22,Agatha,3.08
681,Yalaeria91,Male,33,"Flux, Destroyer of Due Diligence",1.06
59,Yaliru88,Male,19,Hailstorm Shadowsteel Scythe,3.03
383,Yalo85,Male,34,Brimstone,3.65
518,Yalostiphos68,Male,29,Azurewrath,4.40
280,Yana46,Female,20,Restored Bauble,3.55
364,Yarithllodeu72,Male,22,"Emberling, Defender of Delusions",3.75
279,Yarithrgue83,Male,20,Thunderfury Scimitar,3.45
698,Yarithrin84,Female,30,"Freak's Bite, Favor of Holy Might",4.14
231,Yarithsurgue62,Male,26,"Mercy, Katana of Dismay",4.94
696,Yarolwen77,Male,30,"Deluge, Edge of the West",4.43
46,Yasrisu92,Male,27,Avenger,3.44
340,Yastyriaphos75,Male,22,Orbit,4.75
257,Yasur35,Male,26,Woeful Adamantite Claymore,4.48
514,Yasur85,Male,21,Souleater,1.10
777,Yathecal72,Male,20,"Celeste, Incarnation of the Corrupted",3.46
125,Yathecal82,Female,20,Piece Maker,1.87
727,Yathecal82,Female,20,Gladiator's Glaive,1.93
548,Yathecal82,Female,20,Brutality Ivory Warmace,2.42
595,Yathedeu43,Male,22,Vindictive Glass Edge,2.27
93,Yathedeu43,Male,22,"Emberling, Defender of Delusions",3.75
572,Yoishirrala98,Female,17,Fiery Glass Crusader,4.58
54,Zhisrisu83,Male,10,Hero Cane,4.35
141,Zhisrisu83,Male,10,Wolf,3.54
560,Zontibe81,Male,21,Verdict,2.48
442,Zontibe81,Male,21,Arcane Gem,3.79
17,Zontibe81,Male,21,Devine,1.76

In [4]:
#Item List

items_list= pymoli_df[["Item ID","Item Name","Price"]]

items=items_list.sort_values("Item ID")
#items.set_index("Item ID", inplace= True)
#number of unique items
items2= items["Item ID"].nunique()
items2

183

In [5]:
# Get the total number of players

#total_players = pymoli_df["SN"].value_counts()

num_p=players["SN"].nunique()
num_p

576

In [6]:
#Purchasing Analysis (Total)

#Number of Unique Items

num_items = pymoli_df["Item ID"].nunique()

num_items

183

In [7]:
# Average Price
avg_p=pymoli_df["Price"].mean()

In [8]:
#Total Number of Purchases

total_pur = pymoli_df["Purchase ID"].nunique()

total_pur

780

In [9]:
#Total Revenue

revenue = pymoli_df["Price"].sum()

revenue

2379.77

In [10]:
#Purchase Analysis Totals
print(f"Number of unique items:{items2}")
print(f"The average pruchase price was:${avg_p}")
print(f"Total number of purchases:{total_pur}")
print(f"Total Revenue:${revenue}")

Number of unique items:183
The average pruchase price was:$3.050987179487176
Total number of purchases:780
Total Revenue:$2379.77

In [11]:
#Gender Demographics

#Percentage and Count of Male Players

a_players=players[["SN","Gender"]]
#a_players.drop_duplicates('SN')
a_players.set_index("Gender", inplace=True)

a_players

m_players= a_players.loc["SN"]='Male'
#m_players.drop_duplicates(('SN', False))
m_players

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

'Male'

In [14]:
all_players=players[["SN","Gender"]]

all_players.drop_duplicates(subset='SN', keep='first', inplace=False)
all_players.set_index("SN", inplace=True)

print(all_players)

#all_players.loc[all_players["SN"]]='Male'

                 Gender
SN
Adairialis76       Male
Adastirin33      Female
Aeda94             Male
Aela59             Male
Aelaria33          Male
Aelastirin39       Male
Aelastirin39       Male
Aelidru27          Male
Aelin32            Male
Aelin32            Male
Aelin32            Male
Aelly27            Male
Aelly27            Male
Aellynun67         Male
Aellyria80         Male
Aelollo59          Male
Aelollo59          Male
Aenarap34          Male
Aeral43            Male
Aeral68            Male
Aeral97            Male
Aeralria27         Male
Aeralstical35      Male
Aeri84             Male
Aerillorin70       Male
Aerithllora36    Female
Aerithllora36    Female
Aerithnucal56      Male
Aerithnuphos61     Male
Aerithriaphos45    Male
...                 ...
Yadaphos40         Male
Yadaphos40         Male
Yalae81            Male
Yalae81            Male
Yalaeria91         Male
Yaliru88           Male
Yalo85             Male
Yalostiphos68      Male
Yana46           Female
Yarithllodeu72     Male
Yarithrgue83       Male
Yarithrin84      Female
Yarithsurgue62     Male
Yarolwen77         Male
Yasrisu92          Male
Yastyriaphos75     Male
Yasur35            Male
Yasur85            Male
Yathecal72         Male
Yathecal82       Female
Yathecal82       Female
Yathecal82       Female
Yathedeu43         Male
Yathedeu43         Male
Yoishirrala98    Female
Zhisrisu83         Male
Zhisrisu83         Male
Zontibe81          Male
Zontibe81          Male
Zontibe81          Male

[780 rows x 1 columns]

In [19]:

pymoli2=pymoli_df[['SN', 'Gender','Age']]


demo = pymoli2.drop_duplicates()



gender_totals = demo['Gender'].value_counts()


gender_percent = gender_totals/num_p

gender_demo = pd.DataFrame({"total count":gender_totals,"Percentage of Players":gender_percent})


gender_demo['Percentage of Players'] = gender_demo['Percentage of Players'].map("{:,.2%}".format)

gender_demo

                       total count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [31]:
# Gender Purchases

gender_purchase_total = pymoli_df.groupby(['Gender']).sum()["Price"].rename("Total Purchase Value")

gender_avg = pymoli_df.groupby(['Gender']).mean()["Price"].rename("Average Purchase Price")

gender_counts = pymoli_df.groupby(['Gender']).count()["Price"].rename("Purchase Count")


norm_total = gender_purchase_total/gender_demo["total count"]

gender_data = pd.DataFrame({"Purchase Count":gender_counts,"Average Purchase Price":gender_avg,"Total Purchase Value":gender_purchase_total,"Normalized Totals":norm_total})

gender_data['Normalized Totals'] = gender_data['Normalized Totals'].map("${:,.2f}".format)

gender_data['Average Purchase Price'] = gender_data['Average Purchase Price'].map("${:,.2f}".format)

gender_data['Total Purchase Value'] = gender_data['Total Purchase Value'].map("${:,.2f}".format)


gender_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [41]:
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

age_bin = [0, 9.9, 14.9, 19.9, 24.9,29.9,34.9,39.9,99999]


group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]



#Purchase Count
pymoli2=pymoli_df.loc[:,['SN', 'Gender','Age']]

demo = pymoli2.drop_duplicates()

demo["Age Ranges"] = pd.cut(demo["Age"],age_bin, labels = group_names)

#demo

#Average Purchase Price
age_totals = demo["Age Ranges"].value_counts()

age_percent = age_totals/num_p

age_demo = pd.DataFrame({"Total Count":age_totals,"Percentage of Players":age_percent})

age_demo= age_demo.sort_index()

age_demo["Percentage of Players"] = age_demo["Percentage of Players"].map("{:,.2%}".format)

age_demo
#Total Purchase Value


#Average Purchase Total per Person by Age Group

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [51]:
#Top 5 spenders
top_spenders = pymoli_df.groupby("SN")


purchases = top_spenders["Purchase ID"].count()

avg_spender = top_spenders["Price"].mean()


total_spent = top_spenders["Price"].sum()

# Place analysis data into a summary DataFrame
top_df = pd.DataFrame({"Purchase Count": purchases,
                             "Average Purchase Price": avg_spender,
                             "Total Purchase Value":total_spent})

# Sort values in descending order
top_df = top_df.sort_values(["Purchase Count"], ascending=False).head()

# Convert values to float and format to 2 decimal places 
top_df.style.format({"Purchase Count":"{:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [59]:
#Most popular items

items_df2 = pymoli_df[["Item ID", "Item Name", "Price"]]


item_list1 = items_df2.groupby(["Item ID","Item Name"])


item_count = item_list1["Price"].count()


value = item_list1["Price"].sum()


price = value/item_count


most_popular= pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})


popular_df = most_popular.sort_values(["Purchase Count"], ascending=False).head()


popular_df.style.format({"Item Price":"${:,.2f}",
                        "Total Purchase Value":"${:,.2f}"})
popular_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [53]:
#most profitable items

profit_df = most_popular.sort_values(["Total Purchase Value"], ascending=False).head()
profit_df.style.format({"Item Price":"${:,.2f}",
                        "Total Purchase Value":"${:,.2f}"})